[Unit]
Description=Service handling thermal camera
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/tc001v4.2.py
WorkingDirectory=/usr/local/bin
StandardOutput=inherit
StandardError=inherit
Restart=always
User=elgem  # Remplace par l'utilisateur qui doit exécuter le service

[Install]
WantedBy=multi-user.target