[Unit]
Description=Service to allow to 
After=network.target

[Service]
ExecStart=/usr/local/bin/pi-therm-monitoring/thermal_camera.sh
WorkingDirectory=/usr/local/bin
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
