[Unit]
Description=Service to allow to the raspberry to be resiliant to wifi failures
After=network.target

[Service]
ExecStart=/usr/local/bin/pi-therm-monitoring/wifi_reconnexion.sh
WorkingDirectory=/usr/local/bin
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
